<style>
  .image{
    /* height:100%; */
    background-size:cover; 
    /* width:auto; */
    background-image:url('./assets/SaltLakeTemple.jpg');
    background-position:40% 50%;
  }

  .outer {
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-items: center;
  }

  .grid-item {
  }

  .myHeader {
    font-size: 50px;
    text-align: center;
  }
</style>

<div class="image">
  <div class="myHeader">
    Green Meadows Ward - Logan Stake
  </div>
  <div class="outer">
    <div class="grid-item">
      <app-meeting meetingUrl="https://us02web.zoom.us/j/86454224631?pwd=cGtPL2NacVlCZ2FtU1YvTWtDSUVZUT09" picture="./assets/Sacrament.jpg"
      title="Sacrament" info="Sunday at 10:30 am" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://www.facebook.com/groups/3194141400809957" picture="./assets/primary.jpg"
      title="Primary" info=""></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us04web.zoom.us/j/75887389937?pwd=SHJ2NloyU2RPMGp5UFRRYjR6UUlKdz09" picture="./assets/EldersQuorum.jpeg"
      title="Elder's Quorum" info="Every 2nd/4th Sunday at 11:45 am" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us04web.zoom.us/j/78550170015?pwd=eGRMd3NINThjNVRUZ0hYM1kvSUM3QT09" picture="./assets/ReliefSociety.jpg"
      title="Relief Society" info="Every 2nd/4th Sunday at 12:30 pm" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us04web.zoom.us/j/7797654280?pwd=d1R6WGsvQjY1UmdOOG5KVUR3R1NBZz09" picture="./assets/YoungWomen.jpg"
      title="Young Women" info="Every 2nd/4th Sunday at 12:30 pm" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us05web.zoom.us/j/83415440647?pwd=U05wdFdTUnBONm9vSHlKRTFrZFBadz09" picture="./assets/YoungMen.webp"
      title="Young Men" info="Every 2nd/4th Sunday at 11:45 am" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us05web.zoom.us/j/81804316212?pwd=bkFTVkR2WllvQUppQWNubGVIYzRNZz09" picture="./assets/YouthSundaySchool.jpeg"
      title="Youth Sunday School" info="Every 1st/3rd Sunday at 11:45 am" validate=true></app-meeting>
    </div>
    <div class="grid-item">
      <app-meeting meetingUrl="https://us04web.zoom.us/j/72986219322?pwd=SWJwZDhZOHlnU0NaOGNXTDBMbWtVQT09" picture="./assets/GospelDoctrine.jpg"
      title="Gospel Doctrine" info="Every 1st/3rd Sunday at 12:30 pm" validate=true></app-meeting>
    </div>
    <app-activities></app-activities>
  </div>
</div>
